<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>好きな教科と名前を追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しく好きな教科と名前を追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('subject.list') }}">好きな教科と名前一覧</a></li>
        <li>好きな教科</li>
    </ul>

    <form action="{{ url_for('subject.add') }}" method="post">
        <label>名前: <input type="text" name="name" required></label><br>
        <label>好きな教科: <input type="text"  name="price" required></label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>
