<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ユーザー追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body>
    <h1>新しいユーザーを追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('user.list') }}">ユーザー一覧</a></li>
        <li>ユーザー登録</li>
    </ul>

    <form action="{{ url_for('user.add') }}" method="post">
        <label>名前: <input type="text" name="name" required></label><br>
        <label>年齢: <input type="number" name="age" required></label><br>
        <label>星座:
            <select name="zodiac_sign" required>
                <option value="">選択してください</option>
                <option value="牡羊座">牡羊座</option>
                <option value="牡牛座">牡牛座</option>
                <option value="双子座">双子座</option>
                <option value="蟹座">蟹座</option>
                <option value="獅子座">獅子座</option>
                <option value="乙女座">乙女座</option>
                <option value="天秤座">天秤座</option>
                <option value="蠍座">蠍座</option>
                <option value="射手座">射手座</option>
                <option value="山羊座">山羊座</option>
                <option value="水瓶座">水瓶座</option>
                <option value="魚座">魚座</option>
            </select>
        </label><br>
        <button type="submit">追加</button>
    </form>
</body>

</html>